name: CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  terraform-check:
    name: Terraform Format & Validate
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init -backend=false

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

  build-check:
    name: Docker Build Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [algorithm-a, rest-api]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build ./app/${{ matrix.service }}
